<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CivicSync Event Creation Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <!-- This page is designed for members to create volunteering events -->
  <!-- NAVBAR -->
  <header class="navbar">
    <!-- TODO: Insert a logo, either ours or the org's stored logo -->
    <div class="logo">LOGO</div>

    <nav>
      <a id="signUpEvents">Volunteer Now!</a>
      <!-- TODO: figure out what to replace this with: <a id="createEvent">Need Volunteers?</a> -->
      <a id="aboutUs">About Us</a>
    </nav>

    <button id="logoutBtn" class="logout-btn">Logout</button>
  </header>

  <!-- MAIN CONTENT -->

  <!-- TODO: Implement permission levels, and pull the user's permission level. Then: -->
  <!-- TODO: Implement a randomized invite code for org accounts to give to users, and -->
  <!-- TODO: then implement the submit buttons to verify invite codes, and then enter the -->
  <!-- TODO: user's info into the organizations table in the database. Finally, if the user -->
  <!-- TODO: is an admin or org, submit their created events to the database. Also implement -->
  <!-- TODO: the variables and logic for determining whether the user has an org, & their permission level -->

  <!--if user.isAdmin == true || user.isOrg == true-->
  <% if (1) { %>
    <main class="container">
      <h1>Event creation page</h1>
      <h2>Want to create an event?</h2>
      <h2>Start below!</h2>

      <section class="card-container">
        <div class="card">
          <form id="createEventForm">
            <input type="text" id="event_name" placeholder="Event Name" required />
            <input type="date" id="event_date" placeholder="Event Date" required />
            <textarea id="event_description" rows="3" placeholder="Event details"></textarea>
            
            <button type="submit">Create Event</button>
          </form>
        </div>
      </section>


  <!--if user shouldn't be able to create events-->
  <% } else { %>
    <main class="container">
      <h1>Event creation page </h1>
      <h2 style="text-decoration: underline;">Only admins and organization accounts can create events</h2>
      <h2 style="margin-top: 40px;">Contact your org for details on how to become an admin:</h2>
      <div class="center">
        <button id="viewOrganization" class="grey-btn">View Organization</button>
      </div>
      <h2 style="margin-top: 40px;">Or, join an org if you haven't already:</h2>
      <div class="center">
        <button id="userProfileBtn" class="grey-btn">User Profile</button>
      </div>

  <% } %>

    <h2 style="margin-top: 40px;">Other links for testing: </h2>
    <div class="center">
      <button id="dashboardLoggedIn" class="grey-btn">Dashboard Logged In</button>
      <button id="userProfileBtn" class="grey-btn">User Profile</button>
      <button id="createGroups" class="grey-btn">Create Groups</button>
      <button id="viewGroup" class="grey-btn">View Group</button>
      <button id="viewOrganization" class="grey-btn">View Organization</button>
    </div>
  </main>


  <!-- TODO: Add a working email to contact, and links to any social media pages we create-->
  <footer class="footer">
    <div>Follow Us: ● ● ● ●</div>
    <div>Contact Us: contactus@civicsync.org</div>
  </footer>

  <script type="module">
    import { handleLogout } from "/js/auth.js";
    // document.getElementById("userName").innerText = user.name;
    // document.getElementById("userPic").src = user.picture;
    // TODO: Need to get user info to appear by profile picture!

    // Logout Button
    document.getElementById("logoutBtn").onclick = async () => {
        await handleLogout();
        window.location.href = "/dashboard";
    };

    //Navbar links
    document.getElementById("signUpEvents").onclick = async () => {
        window.location.href = "/signUpEvents";
    };

    document.getElementById("aboutUs").onclick = async () => {
        window.location.href = "/aboutUs";
    };

    // Testing Buttons
    document.getElementById("dashboardLoggedIn").onclick = async () => {
        window.location.href = "/dashboardLoggedIn";
    };

    document.getElementById("userProfileBtn").onclick = async () => {
        window.location.href = "/userProfile";
    };

    document.getElementById("createGroups").onclick = async () => {
        window.location.href = "/createGroups";
    };

    document.getElementById("viewGroup").onclick = async () => {
        window.location.href = "/viewGroup";
    };

    document.getElementById("viewOrganization").onclick = async () => {
        window.location.href = "/viewOrganization";
    };

  </script>
</body>
</html>
