<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CivicSync Event Creation Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <!-- This page is designed for members to create volunteering events -->
  <!-- NAVBAR -->
  <header class="navbar">
    <!-- TODO: Insert a logo, either ours or the org's stored logo -->
    <div class="logo">LOGO</div>

    <nav>
      <a id="signUpEvents">Volunteer Now!</a>
      <!-- TODO: figure out what to replace this with: <a id="createEvent">Need Volunteers?</a> -->
      <a id="aboutUs">About Us</a>
    </nav>

    <button id="logoutBtn" class="logout-btn">Logout</button>
  </header>

  <!-- MAIN CONTENT -->

  <main class="container">

    <div id="eventFormSection" style="display:none;">
      <h1>Event creation page</h1>
      <h2>Want to create an event?</h2>
      <h2>Start below!</h2>

      <section class="card-container">
        <div class="card">
          <form id="createEventForm">
            <input type="text" id="event_name" placeholder="Event Name" required>
            <input type="date" id="event_date" required>
            <textarea id="event_description" rows="3" placeholder="Event details"></textarea>
            
            <button type="submit">Create Event</button>
          </form>
        </div>
      </section>
    </div>


    <!--if user shouldn't be able to create events-->
    <div id="noOrgEventSection" style="display:none;">
      <h1>Event creation page </h1>
      <h2 style="text-decoration: underline;">Only admins and organization accounts can create events</h2>
      <h2 style="margin-top: 40px;">Contact your group for details on how to become an admin:</h2>
      <div class="center">
        <button id="viewGroup" class="grey-btn">View Group</button>
      </div>
      <h2 style="margin-top: 40px;">Or, join a group if you haven't already:</h2>
      <div class="center">
        <button id="userProfileBtn" class="grey-btn">User Profile</button>
      </div>
    </div>

    <h2 style="margin-top: 40px;">Other links for testing: </h2>
    <div class="center">
      <button id="dashboardLoggedIn" class="grey-btn">Dashboard Logged In</button>
      <button id="userProfileBtn2" class="grey-btn">User Profile</button>
      <button id="createGroups" class="grey-btn">Create Groups</button>
      <button id="viewGroup" class="grey-btn">View Group</button>
      <button id="viewOrganization" class="grey-btn">View Organization</button>
    </div>
  </main>


  <!-- TODO: Add a working email to contact, and links to any social media pages we create-->
  <footer class="footer">
    <div>Follow Us: ● ● ● ●</div>
    <div>Contact Us: contactus@civicsync.org</div>
  </footer>

  <script type="module">
    import { handleLogout } from "/js/auth.js";
    import { initCreateEvent } from "/js/functions.js";

    document.addEventListener("DOMContentLoaded", () => {
      initCreateEvent();
    });

    // Logout Button
    document.getElementById("logoutBtn").onclick = async () => {
        await handleLogout();
        window.location.href = "/dashboard";
    };

    //Navbar links
    document.getElementById("signUpEvents").onclick = async () => {
        window.location.href = "/signUpEvents";
    };

    document.getElementById("aboutUs").onclick = async () => {
        window.location.href = "/aboutUs";
    };

    document.getElementById("userProfileBtn").onclick = async () => {
        window.location.href = "/userProfile";
    };

    // Testing Buttons
    document.getElementById("dashboardLoggedIn").onclick = async () => {
        window.location.href = "/dashboardLoggedIn";
    };

    document.getElementById("userProfileBtn2").onclick = async () => {
        window.location.href = "/userProfile";
    };

    document.getElementById("createGroups").onclick = async () => {
        window.location.href = "/createGroups";
    };

    document.getElementById("viewGroup").onclick = async () => {
        window.location.href = "/viewGroup";
    };

    document.getElementById("viewOrganization").onclick = async () => {
        window.location.href = "/viewOrganization";
    };

  </script>
</body>
</html>
