<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CivicSync Event Sign Up Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <!-- This page is designed for Volunteers to view current volunteering opportunities and to sign up for them -->
  <!-- Users should already be signed in on this page -->

  <!-- NAVBAR -->
  <header class="navbar">
    <!-- TODO: Insert a logo, either ours or the org's stored logo -->
    <div class="logo">LOGO</div>

    <nav>
      <!-- TODO: figure out what to replace this with: <a id="signUpEvents">Volunteer Now!</a> -->
      <a id="createEvent">Need Volunteers?</a>
      <a id="aboutUs">About Us</a>
    </nav>

    <button id="logoutBtn" class="logout-btn">Logout</button>
  </header>

  <!-- MAIN CONTENT -->

  <!-- TODO: Pull the user's org info if they have it. If not: -->
  <!-- TODO: Implement a randomized invite code for org accounts to give to users, and -->
  <!-- TODO: implement the submit buttons to verify invite codes. Then include the user -->
  <!-- TODO: as a member of the correct org in the database. Next, display an org's upcoming events -->
  <!-- TODO: from the database, and implement the Join button with an "are you sure you want to join" -->
  <!-- TODO: popup field with yes/no options. Also implement the variables and logic for determining whether the user has an org -->
   
  <!--if user.hasOrg == true-->
  <% if (1) { %>
  <main class="container">
    <h1>Event Signup</h1>
    <section class="card-container" style="flex:none;">
      <div class="card">
        <h3>Park Cleanup</h3>
        <p>March 28</p>
        <button type="submit">Join Event</button>
      </div>

      <div class="card">
        <h3>Food Drive</h3>
        <p>April 2</p>
        <button type="submit">Join Event</button>
      </div>
    </section>

  <!--if user.hasOrg == false-->
  <% } else { %>
  <main class="container">
    <h1>Event Signup</h1>
    <section class="card-container">
      <div class="center">
        <h2 class="section-title" style="padding: 20px">Join an organization to sign up for events: </h2>
          <div class="card" style="border: 10px solid #ccc">
              <form id="orgInviteForm" style="margin-top: 30px;">
                <input type="text" id="orgCode" placeholder="Enter your invite code">
              </form>
              <button id="orgCodeSubmit" style="margin-top: 20px;" type="submit">Submit</button>
          </div>
      </div>
    </section>
  <% } %>

    <h2>Other links for testing: </h2>
    <div class="center">
      <button id="dashboardLoggedIn" class="grey-btn">Dashboard Logged In</button>
      <button id="userProfileBtn" class="grey-btn">User Profile</button>
      <button id="createGroups" class="grey-btn">Create Groups</button>
      <button id="viewGroup" class="grey-btn">View Group</button>
      <button id="viewOrganization" class="grey-btn">View Organization</button>
    </div>
  </main>


  <!-- TODO: Add a working email to contact, and links to any social media pages we create-->
  <footer class="footer">
    <div>Follow Us: ● ● ● ●</div>
    <div>Contact Us: contactus@civicsync.org</div>
  </footer>

  <script type="module">
    import { handleLogout } from "/js/auth.js";
    // document.getElementById("userName").innerText = user.name;
    // document.getElementById("userPic").src = user.picture;
    // TODO: Need to get user info to appear by profile picture!

    // Logout Button
    document.getElementById("logoutBtn").onclick = async () => {
        await handleLogout();
        window.location.href = "/dashboard";
    };

    //Navbar links
    document.getElementById("createEvent").onclick = async () => {
        window.location.href = "/createEvent";
    };

    document.getElementById("aboutUs").onclick = async () => {
        window.location.href = "/aboutUs";
    };

    // Testing Buttons
    document.getElementById("dashboardLoggedIn").onclick = async () => {
        window.location.href = "/dashboardLoggedIn";
    };

    document.getElementById("userProfileBtn").onclick = async () => {
        window.location.href = "/userProfile";
    };

    document.getElementById("createGroups").onclick = async () => {
        window.location.href = "/createGroups";
    };

    document.getElementById("viewGroup").onclick = async () => {
        window.location.href = "/viewGroup";
    };

    document.getElementById("viewOrganization").onclick = async () => {
        window.location.href = "/viewOrganization";
    };

  </script>
</body>
</html>
