<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CivicSync Event Creation Page</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <!-- This page is designed for Volunteers to view current volunteering opportunities and to sign up for them -->
  <!-- Users should already be signed in on this page -->
  <h1>Civic Sync</h1>

  <div id="userInfo" style="display: flex; align-items: center; gap: 10px;">
  <img id="userPic" src="" alt="Profile" width="40" height="40" style="border-radius: 50%;">
  <span id="userName"></span>
  <button id="logoutBtn">Logout</button>
 </div>

  <nav>
    <a href = "signUpEvents.html">Volunteer Now!</a>
    <a href = "createOrganizations.html">Need Volunteers?</a>
    <a href = "aboutUs.html">About Us</a>
  </nav>

  <!-- TODO: Complete filling out Sign Up Opportunities Page -->
</body>
</html>
