<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CivicSync View Organization Page</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <!-- NAVBAR -->
    <header class="navbar">
      <!-- TODO: Insert a logo, either ours or the org's stored logo -->
      <div class="logo">LOGO</div>

      <nav>
        <a id="signUpEvents">Volunteer Now!</a>
        <a id="createEvent">Need Volunteers?</a>
        <a id="aboutUs">About Us</a>
      </nav>

      <!-- TODO: Display the users name and profile pic -->
      <button id="profileBtn" class = "white-btn">User Profile</button>

    </header>


    <!-- MAIN CONTENT -->
    <main class="container">

      <!-- ORG INFO -->
      <!-- TODO: Pull the user's organization name and info from the database -->
      <h1 class="page-title">Organization Name</h1>
      <section class="card large-card">
        <div class="org-layout">
          <div class="org-image"></div>

          <div class="org-text">
            <p>
              This is the organization's bio, where they can list out their
              contact info and any associated links. Lorem ipsum etc etc
            </p>
          </div>
        </div>
      </section>

      <!-- EVENTS -->
      <!-- TODO: List an organizations planned events -->
      <h2 class="section-title">Upcoming Events</h2>

      <section class="card-container">
        <div class="card">
          <h3>Park Cleanup</h3>
          <p>March 28</p>
        </div>

        <div class="card">
          <h3>Food Drive</h3>
          <p>April 2</p>
        </div>
        

      </section>

      <!-- JOIN GROUPS BUTTON -->
      <div class="center">
        <button id="groupBtn" class="grey-btn">Join Groups</button>
      </div>

      <h2>Other links for testing: </h2>
      <div class="center">
        <button id="createGroups" class="grey-btn">Create Groups</button>
        <button id="dashboardLoggedIn" class="grey-btn">Dashboard Logged In</button>
        <button id="logoutBtn" class="grey-btn">Logout</button>
      </div>

    </main>

    <!-- TODO: Add a working email to contact, and links to any social media pages we create-->
    <footer class="footer">
      <div>Follow Us ● ● ● ●</div>
      <div>Contact Us: email@email.com</div>
    </footer>

    <script type="module">
      import { handleLogout } from "/js/auth.js";
      // document.getElementById("userName").innerText = user.name;
      // document.getElementById("userPic").src = user.picture;
      // TODO: Need to get user info to appear by profile picture!
      
      // User profile button
      document.getElementById("profileBtn").onclick = async () => {
          window.location.href = "/userProfile";
      };

      // Join groups button
      document.getElementById("groupBtn").onclick = async () => {
          window.location.href = "/viewGroup";
      };

      // Navbar links
      document.getElementById("signUpEvents").onclick = async () => {
          window.location.href = "/signUpEvents";
      };

      document.getElementById("createEvent").onclick = async () => {
          window.location.href = "/createEvent";
      };

      document.getElementById("aboutUs").onclick = async () => {
          window.location.href = "/aboutUs";
      };

      // Testing buttons
      document.getElementById("createGroups").onclick = async () => {
          window.location.href = "/createGroups";
      };

      document.getElementById("dashboardLoggedIn").onclick = async () => {
          window.location.href = "/dashboardLoggedIn";
      };

      document.getElementById("logoutBtn").onclick = async () => {
          await handleLogout();
          window.location.href = "/dashboard";
      };

    </script>
  </body>
</html>
